@charset "UTF-8";

#home {
    background-image: url(/lecoffee/resources/images/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-left: 160px;
}

h1 {
    font-family: 'Grape Nuts', cursive;
    font-size: 50px;
    margin-right: 60px;
}

h1 span {
    color: var(--green);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--brown);
    margin-right: 30px;
    font-size: 20px;
    transition: 0.4s;
    font-family: 'Poppins', sans-serif;
}

nav a:hover {
    color: #5e8c6a;
}

.title {
    width: 800px;
    margin-top: 180px;
    margin-left: 150px;
}

.title span {
    color: var(--green);
}

.title p {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

.atendimento {
    position: absolute;
    bottom: 42px;
    left: 42px;
}

.atendimento a {
    text-decoration: none;
    margin-right: 10px;
    color: rgba(162, 139, 139, 0.499);
    font-size: 30px;
    transition: 0.4s;
}

.atendimento a:hover {
    color: rgba(162, 139, 139, 0.704);
}