#cart {
	position: fixed;
	width: 100vw;
	top: 70px;
	height: calc(100vh - 70px);
	background-color: var(--background-body);
	overflow: hidden;
	z-index: 1;
	transition: 0.4s;
}

#formProductsCart .card {
	width: 95.8vw !important;
}

#cart h3 {
	font-size: 23px;
}

.top-cart {
	margin-top: 10px;
}

.close-cart span {
	font-size: 40px !important;
}

.no-scroll {
	overflow: hidden;
}

#btnCheckout {
	position: relative;
	bottom: 70px;
	width: 250px;
	left: 21vw;
}

.text_empty_cart {
	font-size: 20px;
	margin-top: 15px;
}