@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}

h5, p, h2 {
	color: var(--text-mouse);
}

.ui-toggleswitch .ui-toggleswitch-checked > * {
	color: black !important;
}

.footer {
	margin-left: 250px;
}

.body {
	margin: 10px;
	margin-top: 70px;
	margin-left: 260px;
	transition: 0.4s;
}

h2 {
	color: var(--text-mouse);
}

.horizontal-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.horizontal-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;	
}

.vertical-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.horizontal-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;	
}

.vertical-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

