@charset "UTF-8";

/* ############## TOP MENU ############## */

.menu-top {
	display: flex;
	flex-direction: row;
	align-items: center;
}


/* ############## LEFT MENU ############## */

.header {
	width: 250px;
	height: 100vw;
	position: fixed;
	top: 0px;
	background-color: var(--background-general);
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-family: 'Poppins', sans-serif;
}

h1 {
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(210, 208, 208);
	width: 100%;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.menu a {
	width: 90%;
	padding: 10px;
	padding-left: 12px;
	color: var(--text);
	text-decoration: none;
	transition: 0.4s;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 10px;
	margin: 5px;
}

.menu a:hover {
	color: var(--text-mouse);
	background-color: var(--background-general-mouse);
}

.google-icons {
	font-size: 30px !important;
	margin-right: 10px;
}