@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	
}

h5, p, h2 {
	color: var(--text-mouse);
}

h5 {
	margin-bottom: 5px;
}

.ui-toggleswitch .ui-toggleswitch-checked > * {
	color: black !important;
}

.footer {
	margin-left: 250px;
}

.body {
	margin: 10px;
	margin-top: 70px;
	margin-left: 260px;
	transition: 0.4s;
}

h2 {
	color: var(--text-mouse);
}