@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-body);
}

h1 {
    font-family: 'Grape Nuts', cursive;
    font-size: 50px;
    margin-right: 60px;
    color: var(--text-mouse);
}

h1 span {
    color: var(--green);
    font-family: 'Grape Nuts', cursive;
}

.horizontal-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;	
}

.vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.horizontal-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;	
}

.vertical-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.horizontal-right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;	
}

.vertical-right {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.ui-selectonemenu > * {
	color: var(--text-mouse) !important;
}	

.ui-selectonemenu {
	border-color: var(--background-general) !important;
	background-color: var(--background-general) !important;	
}

.ui-selectonemenu-items {
	background-color: var(--background-general) !important;
}

.ui-selectonemenu-item {
	color: var(--text) !important;
	background-color: var(--background-general) !important;	
}

.ui-selectonemenu-item:hover {
	color: var(--text-mouse) !important;
	background-color: var(--background-general-mouse) !important;	
}

.ui-selectonemenu-trigger {
	background-color: var(--background-general-mouse) !important;	
}

.ui-button {
	color: white !important;
	background-color: var(--green) !important;
	border-color: var(--green) !important;
}

.ui-button:hover {
 	border-color: var(--green-mouse) !important;
	background-color: var(--green-mouse) !important;
}

.ui-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.ui-dialog-titlebar {
	color: var(--text-mouse) !important;
	background-color: var(--background-general) !important;
}

.ui-dialog-content {
	background-color: var(--background-general) !important;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #00000050;
    background-color: #fff ;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--green);
}