.section {
    height: 100vh;
    width: 99.5vw;
}

.ui-toggleswitch > * {
	color: black !important;
}

h2 {
    text-align: center;
    font-family: 'Grape Nuts', cursive;
    padding: 20px;
    background-color: var(--green);
    color: white;
    font-size: 35px;
}

button {
    background-color: var(--green);
    border: none;
    color: white;
    padding: 15px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 35px;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
    cursor: pointer;
}

.buttonClass {
    background-color: var(--green);
    border: none;
    color: white;
    padding: 15px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 35px;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #728e79;
}