@charset "UTF-8";

.desktop-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	background-color: var(--background-general);
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14);
}

.desktop-menu div a {
	margin: 10px;
	transition: 0.4s;
	cursor: pointer;
	font-size: 18px;
	color: var(--text-mouse);
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.desktop-menu div span {
	transition: 0.4s;
}

.desktop-menu div a:hover {
	color: var(--green);
}

.desktop-menu div a:hover span {
	color: var(--green);
}

.system-links {
	padding: 10px;
	padding-left: 12px;
	color: var(--text);
	text-decoration: none;
	transition: 0.4s;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 10px;
	margin: 5px;
}