@charset "UTF-8";

.header {
	width: 250px;
	height: 100vw;
	position: fixed;
	background-color: #1A1C1E;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	font-family: 'Poppins', sans-serif;
}

h1 {
	padding-bottom: 2px;
	border-bottom: 1px solid var(--white);
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.menu a {
	width: 90%;
	padding: 10px;
	padding-left: 12px;
	color: #868B90;
	text-decoration: none;
	transition: 0.4s;
	font-size: 18px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 10px;
	margin: 5px;
}

.menu a:hover {
	color: var(--white);
	background-color: #272A30;
}

.google-icons {
	font-size: 30px !important;
	margin-right: 10px;
}