@charset "UTF-8";

:root {
    --brown: #2F1F10;
    --brown-mouse: #352415;
    --green: #5e8c6a;
    --green-mouse: #70997b;
    --border-radius: #272A30; 
    --second-color-widget: #212429; 
    --bottom-row-table: #383b3e;
	
	--text: #868B90;
	--text-mouse: #fffff7;
	--background-general: #1A1C1E;
	--background-general-mouse: #272A30;
	--background-body: #111315;
}	