@charset "UTF-8";

/* CARD */

#address {
	padding: 0px 15px;
}

.card-address {
	margin-top: 10px;
	cursor: pointer;
	padding: 10px;
	background-color: var(--green);
	color: var(--white) !important;
	border-radius: 10px;
	width: 100%;
	color: var(--white) !important;
}

.card-address a {
	color: white;
	width: 50px;
}