@charset "UTF-8";

.ui-scrollpanel {
	padding: 0px !important; 
}

#address {
	position: fixed;
	width: 100vw;
	max-width: 500px;
	top: 70px;
	height: calc(100vh - 70px);
	background-color: var(--background-general);
	overflow: hidden;
	z-index: 1;
	transition: 0.4s;	
	box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.1);
	padding: 0px 15px;
}

#formAddress > * {
	transition: 0.4s;
}

.top-address {
	margin-top: 10px;
	background-color: var(--background-general);
}

.close-address span {
	font-size: 40px !important;
}

#address h3 {
	font-size: 23px;
}

.no-scroll {
	overflow: hidden;
}

/* CARD */

.card-address {
	margin-top: 10px;
	cursor: pointer;
	padding: 10px;
	background-color: var(--green);
	color: var(--white) !important;
	border-radius: 10px;
	width: 100%;
	color: var(--white) !important;
}

.card-address a {
	color: white;
	width: 50px;
}